                nav {
                    margin: 0%;
                    padding: 0%;
                }
                
                body {
                    background-color: #1A1F16;
                }
                
                header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                
                .dp {
                    border-radius: 50%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 50%;
                    border: 50px #94ECBE;
                    /* border-style: 50px #94ECBE; */
                }
                
                h1 {
                    color: #94ECBE;
                    background-color: #1E3F20;
                    text-align: center;
                    font-family: 'Fredoka', sans-serif;
                }
                
                h2 {
                    color: rgb(0, 255, 42);
                    text-align: center;
                    font-family: 'Fredoka', sans-serif;
                }
                
                h3 {
                    color: #94ECBE;
                    background-color: #345830;
                    font-family: 'Fredoka', sans-serif;
                }
                
                h4,
                h5 {
                    color: #94ECBE;
                    font-family: 'Fredoka', sans-serif;
                }
                
                p {
                    font-size: 32px;
                    color: #94ECBE;
                    font-family: 'Fredoka', sans-serif;
                }
                
                ul {
                    color: white;
                    font-family: 'Fredoka', sans-serif;
                }
                
                img {
                    border-radius: 3px;
                }
                
                blockquote {
                    color: #94ECBE;
                }
                
                table {
                    font-family: 'Fredoka', sans-serif;
                    color: #94ECBE;
                }
                /* address {
    font-family: 'Fredoka', sans-serif;
} */
                
                address {
                    font-family: 'Fredoka', sans-serif;
                    text-decoration: none;
                    border: 0.2px solid #000;
                    color: #94ECBE;
                    background: #4A7856;
                    padding: 5px;
                    border-radius: 8px;
                    font-family: 'Fredoka', sans-serif;
                }
                /* body {
    background-image: url('');
  } */
                
                .header-li {
                    display: inline-block;
                    padding: 0;
                    text-decoration: none;
                    list-style: none;
                }